* {
  margin: 0;
}
body {
  height: 100vh;
  background-color: ivory;
}

.header {
  position: relative;
  z-index: 10;
  width: 100%;
  background-color: ivory;
}
@media (max-width: 600px) {
  .header {
    padding: 10px 10px;
  }

  .header-name img {
    width: 100px;
  }

  menu-icon {
    font-size: 40px;
  }
}

@media (mid-width: 600) {
  .header {
    padding: 20px 40px;
  }
  .header-name img {
    width: 150px;
  }
  .menu-icon {
    font-size: 50px;
  }
}
  
  .header-name {
    margin: 30px;
    margin-left: 42%;
    display: flex;
    justify-content: center;
  }


/* .menu {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-right: 50px;
  margin-top: -80px;
} */

.home {
  /* position: relative;
  height: 100vh;
  width: 80vw;
  margin: auto; */
  background-image: url('./assets/imgs/JK-home.jpg');
  background-size:cover;
  background-position:center;
  background-repeat: 'no-repeat';
  background-color: rgba(255,255,255,0.5);
}
.home::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: ivory;
  opacity: 0.12;
}

.gallery-button {
  position: relative;
  z-index: 1;
  display: flex;
  padding-top: 200px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.shop-button {
  position: relative;
  z-index: 1;
  display: flex;
  padding-top: 60px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: center;
}
.insta-link a {
  border:solid #5cb6bd;
  border-radius: 4px;
  color: #5cb6bd;
  display: flex;
  margin: 20px;
  padding: 5px;
  text-decoration: none;
}

